{% extends "layout" %}

{% block content%}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Kérem jelentkezzen be!</h1></div>
        {% else %}
        <div class="row">
            {% for category in categories %}
               
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default" id="todosPanel">
                        <div class="panel-heading">{{ category.name }}
                        </div>
                        <div class="panel-body" style="max-height:150px; min-height:150px; overflow-y: scroll;">
                            {% for todo in category.allTodos %}
                                
                                <li style="list-style:none;" class="smart-todo">{{ todo.title }}
                                            <span class="pull-right"><a href="/editAlk/{{todo.id}}"  class="smart-todo"><i class="glyphicon glyphicon-pencil" style="color:blue" style="padding-left:10px"></i></a>
                                            <a href="/deleteAlk/{{todo.id}}" id="deleteAlk{{todo.id}}" onclick="deleteAlk({{todo.id}})"><i class="glyphicon glyphicon-trash" style="padding-left:10px;"></i></a></span>
                                </li>
                                
                            {% endfor %}
                        </div>
                        <div class="panel-footer">


                            <a href="/deleteCategory/{{category.id}}" id="deleteCategory{{category.id}}" onclick="deleteCategory({{category.id}})" class="btn btn-danger">Kategória törlése<i style="padding-left:10px"></i></a>
                              <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#editCategory">Kategórianév módosítása
                                  <i style="padding-left:10px"></i>
                              </button>

                            <div class="modal fade" id="editCategory" tabindex="-1" role="dialog" aria-labelledby="editCategoryLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="editCategoryLabel">Változtasd meg a kategória nevét</h4>
                                </div>
                                    <form role="form" method="POST" action="/editCategory/{{category.id}}">
                                        <div class="modal-body" style="min-height:150px; max-height:150px;">
                                            {{ csrfField }}
                                            <div class="form-group">
                                                <label for="name" class="control-label padding-bottom-5">Kategória</label>
                                                <input type="text" class="form-control col-xs-6" id="name" name="name" placeholder="Kategórianév" value="{{ category.name }}" required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-success" type="submit" style="color:white">Kategórianév mentése</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                    
                </div>
                
            {% endfor %}

            <span class="help-block"></span>
                 <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
                     <div class="modal-dialog modal-sm" role="document">
                         <div class="modal-content">
                         <div class="modal-body">
                             Biztosan törölni szeretné?
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
                             <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Vissza</button>
                         </div>
                         </div>
                     </div>
                 </div>

        </div>
        {% endif %}
    </div>
</div>
{% endblock %}