{% extends "layout" %}

{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Kérem jelentkezzen be!</h1></div>
        {% else %}
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight:bold; color: Orange"><h3>Üdv, {{currentUser.username}} !</h3></div>
            <div class="panel-body">
                <h4 style="color:lightblue">Üdv a PC Buildernél!</h4>
                <h5>Számos különböző komponensből állithat össze egy komplett PC-t!</h5><br/>
                <p>Ha a <strong style="color:#00cc66">PC Komponensek</strong> fülre kattint, az előhozza a PC felépítéséhez tartozó <strong style="color:coral">kategóriákat</strong>, és ezen külön kategóriákhoz választhat egy számára megfelelő alkatrészt. Ha már van <strong style="color:#ccd9ff">összeállított</strong> elképzelése, azt a főoldalon megtekintheti. 
                Bármilyen alkatrész megtalálásához használja a kereső felületet.
                </p>
                <p>Az alkatrészekhez tartoznak adatok, amelyeket az alkatrészre kattintva megtekinthet.</p>
                <br/>
                <p>A már kész <strong style="color:#ccd9ff">összeállításokat</strong> lehet:</p>
                <ul>
                    <li>- törölni, vagy</li>
                    <li>- szerkeszteni</li>
                </ul>
                <p>Ha a <strong style="color:#66ccff">szerkesztést</strong> választja, újabb komponensekkel frissítheti összeállított elképzelését. </p>
                <p>Ha a <strong style="color:#cc3300">törlést</strong> választja, akkor törlődni fog az összeállítása.</p>
                <br />

                 <h3 style="color:lightblue">Jó böngészést! :)</h3>   
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}