{% extends "layout" %}

{% block content %}
<div id="wrapper">
    <div class="container">
        {% if not currentUser %}
        <div class="text-center"><h1>Kérem jelentkezzen be!</h1></div>
        {% else %}
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight:bold; color: Orange"><h3>Üdv, {{currentUser.username}} !</h3></div>
            <div class="panel-body">
                <h4 style="color:lightblue">Üdv a PC Buildernél!</h4>
                <h5>Számos különböző komponensből állithat össze egy komplett PC-t!</h5><br/>
                <p>Ha a <strong style="color:#00cc66">Alkatrészek</strong> fülre kattint, az előhozza a PC felépítéséhez tartozó <strong style="color:coral">kategóriákat</strong>, és ezen külön kategóriákból választhat egy számára megfelelő alkatrészt.</p>
                <p>Az alkatrészek a megfelelő kategóriákban vannak felsorolva, ezen kategóriákat lehetőségünk van törölni, vagy nevüket módosítani. Az alkatrészeket is lehet külön törölni és átnevezni, vagy más kategóriába helyezni.</p>
                <p>Az alkatrészeket kiválogatni a Saját összeállítás gombra kattintva, majd onnan az Alkatrész választása gombra kattintva tudja megtenni.</p> 
                <p>Ha már van <strong style="color:#ccd9ff">összeállított</strong> elképzelése, azt a <strong style="color:#00cc66">Saját összeállítás</strong> fülre kattintva megtekintheti.</p> 
                <p>Bármilyen alkatrész megtalálásához használja a <strong style="color:white">kereső felületet</strong>.</p>
                </p>
                <br/>
                <p>A már kész <strong style="color:#ccd9ff">összeállításokat</strong> lehet:</p>
                <ul>
                    <li>- törölni tudja</li>
                </ul>
            <p>             Ha a <strong style="color:#cc3300">törlést</strong> választja (piros "kuka" ikon a komponens neve mellett), akkor törlődni fog az a komponens a kiválasztott elemek listájából.</p>
                </br>
                <p>Ha az alkatrészek listájában talál olyan alkatrész nevet, amit ön <strong style="color:#ccd9ff">hibásnak</strong> vél, akkor azt:</p>
                <ul>
                    <li>- Szerkeszteni tudja</li>
                </ul>
                <p>         Ha a <strong style="color:#66ccff">szerkesztést</strong> választja, új komponens névvel frissítheti az alkatrészek listáját. </p>
                
                <br />

                 <h3 style="color:lightblue">Jó böngészést! :)</h3>   
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}